.stMultiSelect [data-baseweb=select] span{
    max-width: 300px;
    font-size: 0.7rem;
}

div.streamlit-expanderHeader st-ae st-by st-ag st-ah st-ai st-aj st-bz st-c0 st-c1 st-c2 st-c3 st-c4 st-c5 st-ar st-as st-b6 st-b5 st-b3 st-c6 st-c7 st-c8 st-b4 st-c9 st-ca st-cb st-cc st-cd {
    background-color: #EEEEEEE;
    border: 1px solid #DCDCDC;
}

