.stMultiSelect [data-baseweb=select] span{
    max-width: 300px;
    font-size: 0.7rem;
}

div.css-12w0qpk.e1tzin5v1 {
    background-color: #EEEEEEE;
    border: 1px solid #DCDCDC;
    padding: 5% 5% 5% 10%;
    border-radius: 10px;
}

div.css-1fcdlhc.e1s6o5jp0 {
    background-color: #EEEEEEE;
    border: 4px solid #DCDCDC;
}

