.stMultiSelect [data-baseweb=select] span{
    max-width: 300px;
    font-size: 0.7rem;
}

div.css-12w0qpk e1tzin5v1 {
    background-color: #EEEEEEE;
}

#root > div:nth-child(1) > div.withScreencast > div > div > div > section.main.css-uf99v8.egzxvld5 > div.block-container.css-z5fcl4.egzxvld4 > div:nth-child(1) > div > div.css-1fcdlhc.e1s6o5jp0 > ul > li {
 background-color: #EEEEEEE
}


